.parallax { 
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2018/02/04/21/13/monastery-3130879_1280.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-sm {
    text-align: center;}
 
.center
{text-align: center;}
.relative  { display: table; margin-left: auto; margin-right: auto; }

.containersecond  {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;}

.image {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/29/19/34/northern-lights-3273425_1280.jpg);
  background-size:cover;  
}

.containerfourth {
    position: relative;
    text-align: center;
    color: white;
}



